body {
    margin: 10px;
}

.nav-link {
    margin-right: 10px;
}

.horz-parent {
    float: left;
    width: 100%;
}

.horiz-child {
    float: left;
}

.horiz-child-left {
    width: 10%;
}

.horiz-child-right {
    width: 90%;
}

.bold {
    font-weight: bold;
}