body {
    margin: 10px;
}

.nav-link {
    margin-right: 10px;
}

.horiz-child {
    min-width: 100px;
    width: 50%;
    float: left;
}

.horiz-child-left {
    width: 20%;
}

.horiz-child-right {
    width: 80%;
}

.bold {
    font-weight: bold;
}